body {
  background-color: gray;
}
/*.center {
  width: 100%;
  height: 96vh;
  outline: dashed 1px black;*
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.divJuego {
  display: block;
}
.divJuego > table {
  border: 4px solid #000;
  width: 100%;
}
.divJuego table > tbody > tr > td {
  text-align: left;
  font-size: 18px;
}
.divJuego table > tbody > tr > td > select {
  font-size: 14px;
}
.divJuego > table > thead {
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.divJuego > table > thead > tr > th{
  padding-top: 10px;
  padding-bottom: 10px;
}
.puntajeMobile {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  float: left;
}
.divFlechas > div > button{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  display: block;
}
.divFlechas > div > button:active{
  background-color: lightgray;
}
.divFlechasAbajo{
  display: flex;
}
.divFlechas{
  margin-top: 10px;
}
.divFlechas > div > .jugarFlechaArriba{
  margin:auto;
  margin-bottom: 5px;
}
.divFlechas > div > .jugarFlechaAbajo{
  margin:auto;
}
.divFlechas > div > .jugarFlechaIzquierda {
  margin-left: 16%;
  padding: 10px 21px;
}
.divFlechas > div > .jugarFlechaDerecha {
  margin-right: 16%;
  padding: 10px 21px;
}
.divJuego > canvas {
  border: 4px solid #000;
  width: 99%;
}

@media only screen and (orientation: portrait) and (min-width: 300px) {
  /*Telefono con width minimo de 300 pixeles*/
  body {
    background-color: white;
  }
}
@media only screen and (orientation: portrait) and (min-width: 400px) {
  /*Telefono con width minimo de 400 pixeles*/
  body {
    background-color: white;
  }
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 20%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 20%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 600px) {
  /*Telefono con width minimo de 600 pixeles*/
  body {
    background-color: white;
  }
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 35%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 35%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 800px) {
  /*Telefono y Tablet con width minimo de 800 pixeles*/
  body {
    background-color: white;
  }
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 35%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 35%;
  }
}


@media only screen and (orientation: landscape) and (min-height: 280px){
  /*Telefono girado con height minimo de 300 pixeles*/
  body {
    background-color: lightblue;
  }
  .divJuego {
    position: relative;
    width: 100%;
  }
  .divJuego > canvas{
    position: absolute;
    width: 50%;
    
  }
  .divJuego > table {
    right: 0%;
    position: absolute;
    width: 48%;
  }
  .divJuego > table > thead {
    font-size: 16px;
  }
  .divJuego table > tbody > tr > td {
    font-size: 14px;
  }
  .divJuego > table > thead > tr > th{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .divJuego table > tbody > tr > td > select {
    font-size: 12px;
  }
  .puntajeMobile {
    padding: 4px 14px;
    font-size: 20px;
  }
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-right: 3%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-left: 3%;
  }
  .divFlechas{
    /*right: 1%;
    top: 30%;*/
    position: relative;
  }/*
  .divFlechasAbajo{
    position: relative;
  }*/
}