.divJuego {
  display: block;
}
.divJuego > table {
  border: 4px solid #000;
  width: 100%;
}
.divJuego table > tbody > tr > td {
  text-align: left;
  font-size: 18px;
}
.divJuego table > tbody > tr > td > select {
  font-size: 14px;
}
.divJuego > table > thead {
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.divJuego > table > thead > tr > th{
  padding-top: 10px;
  padding-bottom: 10px;
}
.puntaje {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 26px;
  font-weight: bold;
  float: left;
}
.divFlechas > div > button{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  display: block;
}
.divFlechas > div > button:active{
  background-color: lightgray;
}
.divFlechasAbajo{
  display: flex;
}
.divFlechas{
  margin-top: 10px;
}
.divFlechas > div > .jugarFlechaArriba{
  margin:auto;
  margin-bottom: 5px;
}
.divFlechas > div > .jugarFlechaAbajo{
  margin:auto;
}
.divFlechas > div > .jugarFlechaIzquierda {
  margin-left: 16%;
  padding: 10px 21px;
}
.divFlechas > div > .jugarFlechaDerecha {
  margin-right: 16%;
  padding: 10px 21px;
}
.divJuego > canvas {
  border: 4px solid #000;
  width: 99%;
}

@media only screen and (orientation: portrait) and (min-width: 400px){
  /*Telefono con width minimo de 400 pixeles*/
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 20%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 20%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 600px){
  /*Telefono con width minimo de 600 pixeles*/
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 35%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 35%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 800px){
  /*Telefono y Tablet con width minimo de 800 pixeles*/
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-left: 35%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-right: 35%;
  }
}


@media only screen and (orientation: landscape) and (min-height: 280px){
  /*Telefono girado con height minimo de 280 pixeles*/
  .divJuego {
    position: relative;
    width: 100%;
  }
  .divJuego > canvas{
    position: absolute;
    width: 50%;
  }
  .divJuego > table {
    right: 0%;
    position: absolute;
    width: 48%;
  }
  .divJuego > table > thead {
    font-size: 16px;
  }
  .divJuego table > tbody > tr > td {
    font-size: 14px;
  }
  .divJuego > table > thead > tr > th{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .divJuego table > tbody > tr > td > select {
    font-size: 12px;
  }
  .puntaje {
    padding: 4px 12px;
    font-size: 22px;
  }
  .divFlechas > div > .jugarFlechaIzquierda {
    margin-right: 3%;
  }
  .divFlechas > div > .jugarFlechaDerecha {
    margin-left: 3%;
  }
  .divFlechas{
    right: 10%;
    top: 30%;
    position: absolute;
  }
  .divFlechasAbajo{
    right: 19%;
    position: relative;
  }
}

@media only screen and (orientation: landscape) and (min-height: 360px){
  /*Telefono girado con height minimo de 360 pixeles*/
  .divJuego > canvas{
    width: 56%;
  }
  .divJuego > table {
    width: 42%;
  }
  .divFlechas{
    right: 4%;
  }

}

@media only screen and (orientation: landscape) and (min-height: 600px){
  /*Tablet girado con height minimo de 600 pixeles*/
  .divJuego > canvas{
    width: 64%;
  }
  .divJuego > table {
    width: 34%;
  }
  .divFlechas{
    right: 7%;
  }

}

@media only screen and (orientation: landscape) and (min-height: 800px){
  /*tablet girado con height minimo de 800 pixeles*/
  .divJuego > canvas{
    width: 68%;
  }
  .divJuego > table {
    width: 30%;
  }
  .divFlechas{
    right: 6%;
  }

}

@media only screen and (max-resolution: 163dpi){
  /*Laptops o PCs con height minimo de 640 pixeles*/
  body {
    width: 99%;
    height: 96vh;
    /*outline: dashed 1px blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divFlechas{
    display: none;
  }
  .center {
    /*outline: dashed 1px black;*/
    display: block;
  }
  .divJuego > table {
    /*border: 4px solid #000;*/
    position: static;
    width: 568px;
  }
  .divJuego > canvas {
    border: 4px solid #000;
    width: 560px;
    position: static;
  }
  .puntaje {
    padding: 0px 14px;
    font-size: 26px;
  }
}