.center {
  width: 100%;
  height: 96vh;
  /*outline: dashed 1px black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.divJuegoMobile {
  display: block;
}
.divJuegoMobile > table {
  border: 2px solid #000;
  width: 564px;
}
.divJuegoMobile table > tbody > tr > td {
  text-align: left;
}
.divJuegoMobile > table > thead, tfoot {
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.jugarMobile {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 18px;
  font-weight: bold;
  float: right;
}
.puntajeMobile {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 26px;
  font-weight: bold;
  float: left;
}

@media only screen and (orientation: portrait) {
  body {
    background-color: lightgray;
  }
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightgreen;
  }
}